.row{
    background-color: blue;
    background:url(../images/white.jpeg)
    
}
 .container{
    background-color: rgb(248, 197, 86); 
    padding: 20px;
    margin: left 100px;
    margin-right 70px;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  .tg{
    background-color: rgb(134, 167, 44);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
     }
     body{
        background:url(../images/white.jpeg)  

     }